// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.1.0.43.3
// Netlist written on Wed Nov 29 17:07:04 2023
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.v"
// file 1 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.vhd"
// file 2 "z:/new folder/jumbodash/mypll/rtl/mypll.v"
// file 3 "z:/new folder/jumbodash/source/impl_1/rom.vhd"
// file 4 "z:/new folder/jumbodash/source/impl_1/cube_gen.vhd"
// file 5 "z:/new folder/jumbodash/source/impl_1/top.vhd"
// file 6 "z:/new folder/jumbodash/source/impl_1/vga.vhd"
// file 7 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 8 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 9 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 10 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 11 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 12 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 13 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 14 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 15 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 16 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 17 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 18 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 19 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 20 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 21 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 22 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 23 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 24 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 25 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 26 "c:/lscc/radiant/2023.1/ip/avant/fifo/rtl/lscc_fifo.v"
// file 27 "c:/lscc/radiant/2023.1/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 28 "c:/lscc/radiant/2023.1/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 29 "c:/lscc/radiant/2023.1/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 30 "c:/lscc/radiant/2023.1/ip/avant/rom/rtl/lscc_rom.v"
// file 31 "c:/lscc/radiant/2023.1/ip/common/adder/rtl/lscc_adder.v"
// file 32 "c:/lscc/radiant/2023.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 33 "c:/lscc/radiant/2023.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 34 "c:/lscc/radiant/2023.1/ip/common/counter/rtl/lscc_cntr.v"
// file 35 "c:/lscc/radiant/2023.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 36 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 37 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 38 "c:/lscc/radiant/2023.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 39 "c:/lscc/radiant/2023.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 40 "c:/lscc/radiant/2023.1/ip/pmi/pmi_add.v"
// file 41 "c:/lscc/radiant/2023.1/ip/pmi/pmi_addsub.v"
// file 42 "c:/lscc/radiant/2023.1/ip/pmi/pmi_complex_mult.v"
// file 43 "c:/lscc/radiant/2023.1/ip/pmi/pmi_counter.v"
// file 44 "c:/lscc/radiant/2023.1/ip/pmi/pmi_dsp.v"
// file 45 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo.v"
// file 46 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo_dc.v"
// file 47 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mac.v"
// file 48 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mult.v"
// file 49 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsub.v"
// file 50 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsubsum.v"
// file 51 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp.v"
// file 52 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp_be.v"
// file 53 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq.v"
// file 54 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq_be.v"
// file 55 "c:/lscc/radiant/2023.1/ip/pmi/pmi_rom.v"
// file 56 "c:/lscc/radiant/2023.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input fpga_clk, output HSYNC, output VSYNC, output [5:0]rgb, 
            input controllerIn, output controlLatch, output controlClk);
    
    (* is_clock=1, lineinfo="@5(7[3],7[11])" *) wire fpga_clk_c;
    (* is_clock=1, lineinfo="@5(86[8],86[15])" *) wire vga_clk;
    
    wire HSYNC_c, VSYNC_c, rgb_c_4, controllerIn_c, controlLatch_c, 
        controlClk_c, GND_net, col_0__N_50, row_0__N_30, row_0__N_29, 
        VCC_net;
    
    VLO i1 (.Z(GND_net));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[4]  (.I(rgb_c_4), .O(rgb[4]));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[3]  (.I(GND_net), .O(rgb[3]));
    (* lut_function="(A+(B))" *) LUT4 i21_2_lut (.A(col_0__N_50), .B(row_0__N_30), 
            .Z(row_0__N_29));
    defparam i21_2_lut.INIT = "0xeeee";
    (* lineinfo="@5(13[3],13[13])" *) OB controlClk_pad (.I(controlClk_c), 
            .O(controlClk));
    (* lineinfo="@5(12[3],12[15])" *) OB controlLatch_pad (.I(controlLatch_c), 
            .O(controlLatch));
    (* lineinfo="@5(131[9],131[12])" *) vga vga_1 (row_0__N_29, vga_clk, 
            row_0__N_30, GND_net, col_0__N_50, HSYNC_c, rgb_c_4, VSYNC_c);
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[5]  (.I(rgb_c_4), .O(rgb[5]));
    (* lineinfo="@5(9[3],9[8])" *) OB VSYNC_pad (.I(VSYNC_c), .O(VSYNC));
    (* lineinfo="@5(8[3],8[8])" *) OB HSYNC_pad (.I(HSYNC_c), .O(HSYNC));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[0]  (.I(GND_net), .O(rgb[0]));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[1]  (.I(GND_net), .O(rgb[1]));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[2]  (.I(GND_net), .O(rgb[2]));
    (* lineinfo="@5(11[3],11[15])" *) IB controllerIn_pad (.I(controllerIn), 
            .O(controllerIn_c));
    (* lineinfo="@5(7[3],7[11])" *) IB fpga_clk_pad (.I(fpga_clk), .O(fpga_clk_c));
    (* lineinfo="@5(125[11],125[16])" *) mypll mypll_1 (GND_net, fpga_clk_c, 
            vga_clk);
    VHI i1084 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module vga
//

module vga (input row_0__N_29, input vga_clk, output row_0__N_30, input GND_net, 
            output col_0__N_50, output HSYNC_c, output rgb_c_4, output VSYNC_c);
    
    (* is_clock=1, lineinfo="@5(86[8],86[15])" *) wire vga_clk;
    (* lineinfo="@5(87[8],87[11])" *) wire [9:0]row;
    
    wire n1041;
    wire [9:0]row_9__N_1;
    
    wire rgb_c_4_N_58, n854, n1312;
    (* lineinfo="@5(88[8],88[11])" *) wire [9:0]col;
    
    wire n856;
    wire [9:0]col_9__N_31;
    
    wire n849, n1306, n9, n14, n289, rgb_c_4_N_57, n841, n1288, 
        n843, n1291, n845, n1090, n1294, n847, n4, n1087, HSYNC_c_N_51, 
        HSYNC_c_N_52, n1043, n580, n92, rgb_c_4_N_59, n1285, VCC_net, 
        n1084, rgb_c_4_N_56, VSYNC_c_N_53, n10, VSYNC_c_N_54, n852, 
        n1309, n8, n860, n1321, n1297, n858, n1318, n1315, n1303;
    
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i882_4_lut (.A(row[6]), .B(row[7]), 
            .C(row[5]), .D(row[0]), .Z(n1041));
    defparam i882_4_lut.INIT = "0xfffe";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=131, LSE_RLINE=131, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_3 (.D(row_9__N_1[6]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[6]));
    defparam row_9__I_3.REGSET = "RESET";
    defparam row_9__I_3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_18 (.D(col_9__N_31[0]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[0]));
    defparam col_9__I_18.REGSET = "RESET";
    defparam col_9__I_18.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((((D)+!C)+!B)+!A))" *) LUT4 i2_4_lut (.A(row[7]), 
            .B(row[5]), .C(row[6]), .D(row[9]), .Z(rgb_c_4_N_58));
    defparam i2_4_lut.INIT = "0x0080";
    FA2 scol_19_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(col[3]), .D0(n854), 
        .CI0(n854), .A1(GND_net), .B1(GND_net), .C1(col[4]), .D1(n1312), 
        .CI1(n1312), .CO0(n1312), .CO1(n856), .S0(col_9__N_31[3]), .S1(col_9__N_31[4]));
    defparam scol_19_add_4_5.INIT0 = "0xc33c";
    defparam scol_19_add_4_5.INIT1 = "0xc33c";
    FA2 add_5_add_5_11 (.A0(GND_net), .B0(row[9]), .C0(GND_net), .D0(n849), 
        .CI0(n849), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1306), 
        .CI1(n1306), .CO0(n1306), .S0(row_9__N_1[9]));
    defparam add_5_add_5_11.INIT0 = "0xc33c";
    defparam add_5_add_5_11.INIT1 = "0xc33c";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=131, LSE_RLINE=131, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_4 (.D(row_9__N_1[5]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[5]));
    defparam row_9__I_4.REGSET = "RESET";
    defparam row_9__I_4.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((((D)+!C)+!B)+!A))" *) LUT4 i7_4_lut (.A(n9), .B(n14), 
            .C(col[1]), .D(n289), .Z(col_0__N_50));
    defparam i7_4_lut.INIT = "0x0080";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=131, LSE_RLINE=131, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_5 (.D(row_9__N_1[4]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[4]));
    defparam row_9__I_5.REGSET = "RESET";
    defparam row_9__I_5.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=131, LSE_RLINE=131, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_0 (.D(row_9__N_1[9]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[9]));
    defparam row_9__I_0.REGSET = "RESET";
    defparam row_9__I_0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut (.A(col[8]), .B(col[7]), 
            .Z(rgb_c_4_N_57));
    defparam i1_2_lut.INIT = "0x2222";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=131, LSE_RLINE=131, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_6 (.D(row_9__N_1[3]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[3]));
    defparam row_9__I_6.REGSET = "RESET";
    defparam row_9__I_6.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=131, LSE_RLINE=131, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_7 (.D(row_9__N_1[2]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[2]));
    defparam row_9__I_7.REGSET = "RESET";
    defparam row_9__I_7.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=131, LSE_RLINE=131, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_8 (.D(row_9__N_1[1]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[1]));
    defparam row_9__I_8.REGSET = "RESET";
    defparam row_9__I_8.SRMODE = "CE_OVER_LSR";
    FA2 add_5_add_5_3 (.A0(GND_net), .B0(row[1]), .C0(GND_net), .D0(n841), 
        .CI0(n841), .A1(GND_net), .B1(row[2]), .C1(GND_net), .D1(n1288), 
        .CI1(n1288), .CO0(n1288), .CO1(n843), .S0(row_9__N_1[1]), .S1(row_9__N_1[2]));
    defparam add_5_add_5_3.INIT0 = "0xc33c";
    defparam add_5_add_5_3.INIT1 = "0xc33c";
    FA2 add_5_add_5_5 (.A0(GND_net), .B0(row[3]), .C0(GND_net), .D0(n843), 
        .CI0(n843), .A1(GND_net), .B1(row[4]), .C1(GND_net), .D1(n1291), 
        .CI1(n1291), .CO0(n1291), .CO1(n845), .S0(row_9__N_1[3]), .S1(row_9__N_1[4]));
    defparam add_5_add_5_5.INIT0 = "0xc33c";
    defparam add_5_add_5_5.INIT1 = "0xc33c";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i923_3_lut (.A(col[0]), .B(col[2]), 
            .C(col[1]), .Z(n1090));
    defparam i923_3_lut.INIT = "0xc8c8";
    FA2 add_5_add_5_7 (.A0(GND_net), .B0(row[5]), .C0(GND_net), .D0(n845), 
        .CI0(n845), .A1(GND_net), .B1(row[6]), .C1(GND_net), .D1(n1294), 
        .CI1(n1294), .CO0(n1294), .CO1(n847), .S0(row_9__N_1[5]), .S1(row_9__N_1[6]));
    defparam add_5_add_5_7.INIT0 = "0xc33c";
    defparam add_5_add_5_7.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C+(D)))+!A (B))", lineinfo="@5(88[8],88[11])" *) LUT4 i1_4_lut (.A(col[3]), 
            .B(col[4]), .C(col[2]), .D(col[1]), .Z(n4));
    defparam i1_4_lut.INIT = "0xeeec";
    (* lut_function="(A (B (C))+!A (B (C (D))))" *) LUT4 i924_4_lut (.A(n1090), 
            .B(col[4]), .C(col[5]), .D(col[3]), .Z(n1087));
    defparam i924_4_lut.INIT = "0xc080";
    (* lut_function="(A+(B+!(C (D))))" *) LUT4 HSYNC_c_I_0 (.A(HSYNC_c_N_51), 
            .B(HSYNC_c_N_52), .C(col[9]), .D(col[7]), .Z(HSYNC_c));
    defparam HSYNC_c_I_0.INIT = "0xefff";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i884_3_lut (.A(row[1]), .B(row[4]), 
            .C(row[2]), .Z(n1043));
    defparam i884_3_lut.INIT = "0xc8c8";
    (* lut_function="(A (B))" *) LUT4 i483_2_lut (.A(row[8]), .B(row[5]), 
            .Z(n580));
    defparam i483_2_lut.INIT = "0x8888";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=131, LSE_RLINE=131, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_9 (.D(row_9__N_1[0]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[0]));
    defparam row_9__I_9.REGSET = "RESET";
    defparam row_9__I_9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_0 (.D(col_9__N_31[9]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[9]));
    defparam col_9__I_0.REGSET = "RESET";
    defparam col_9__I_0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_10 (.D(col_9__N_31[8]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[8]));
    defparam col_9__I_10.REGSET = "RESET";
    defparam col_9__I_10.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C)+!B (C (D)))+!A (B+((D)+!C))))" *) LUT4 i97_4_lut (.A(n1087), 
            .B(col[5]), .C(col[6]), .D(n4), .Z(n92));
    defparam i97_4_lut.INIT = "0x0a3a";
    (* lut_function="(A+(B))" *) LUT4 i874_2_lut (.A(col[9]), .B(row[8]), 
            .Z(rgb_c_4_N_59));
    defparam i874_2_lut.INIT = "0xeeee";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=131, LSE_RLINE=131, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_1 (.D(row_9__N_1[8]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[8]));
    defparam row_9__I_1.REGSET = "RESET";
    defparam row_9__I_1.SRMODE = "CE_OVER_LSR";
    FA2 add_5_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(row[0]), .C1(VCC_net), .D1(n1285), .CI1(n1285), .CO0(n1285), 
        .CO1(n841), .S1(row_9__N_1[0]));
    defparam add_5_add_5_1.INIT0 = "0xc33c";
    defparam add_5_add_5_1.INIT1 = "0xc33c";
    (* lut_function="(!((B (C (D))+!B (C+!(D)))+!A))" *) LUT4 i2_4_lut_adj_19 (.A(n92), 
            .B(n1084), .C(n1043), .D(row[3]), .Z(rgb_c_4_N_56));
    defparam i2_4_lut_adj_19.INIT = "0x0a88";
    (* lut_function="(!((((D)+!C)+!B)+!A))" *) LUT4 rgb_c_4_I_0 (.A(rgb_c_4_N_56), 
            .B(rgb_c_4_N_57), .C(rgb_c_4_N_58), .D(rgb_c_4_N_59), .Z(rgb_c_4));
    defparam rgb_c_4_I_0.INIT = "0x0080";
    (* lut_function="(!(A+((C+(D))+!B)))" *) LUT4 i4_4_lut (.A(n1041), .B(VSYNC_c_N_53), 
            .C(row[8]), .D(row[1]), .Z(n10));
    defparam i4_4_lut.INIT = "0x0004";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_11 (.D(col_9__N_31[7]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[7]));
    defparam col_9__I_11.REGSET = "RESET";
    defparam col_9__I_11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_12 (.D(col_9__N_31[6]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[6]));
    defparam col_9__I_12.REGSET = "RESET";
    defparam col_9__I_12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_13 (.D(col_9__N_31[5]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[5]));
    defparam col_9__I_13.REGSET = "RESET";
    defparam col_9__I_13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_14 (.D(col_9__N_31[4]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[4]));
    defparam col_9__I_14.REGSET = "RESET";
    defparam col_9__I_14.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut_adj_20 (.A(row[3]), .B(row[4]), 
            .Z(VSYNC_c_N_53));
    defparam i1_2_lut_adj_20.INIT = "0x2222";
    (* lut_function="(!(A (B (D)+!B !(C))+!A ((C (D))+!B)))", lineinfo="@5(87[8],87[11])" *) LUT4 i100_4_lut (.A(row[0]), 
            .B(row[2]), .C(row[1]), .D(n580), .Z(VSYNC_c_N_54));
    defparam i100_4_lut.INIT = "0x24ec";
    FA2 scol_19_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(col[1]), .D0(n852), 
        .CI0(n852), .A1(GND_net), .B1(GND_net), .C1(col[2]), .D1(n1309), 
        .CI1(n1309), .CO0(n1309), .CO1(n854), .S0(col_9__N_31[1]), .S1(col_9__N_31[2]));
    defparam scol_19_add_4_3.INIT0 = "0xc33c";
    defparam scol_19_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_15 (.D(col_9__N_31[3]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[3]));
    defparam col_9__I_15.REGSET = "RESET";
    defparam col_9__I_15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_16 (.D(col_9__N_31[2]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[2]));
    defparam col_9__I_16.REGSET = "RESET";
    defparam col_9__I_16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_17 (.D(col_9__N_31[1]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[1]));
    defparam col_9__I_17.REGSET = "RESET";
    defparam col_9__I_17.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C (D)))))" *) LUT4 row_8__I_0 (.A(row[8]), .B(VSYNC_c_N_53), 
            .C(VSYNC_c_N_54), .D(rgb_c_4_N_58), .Z(VSYNC_c));
    defparam row_8__I_0.INIT = "0x7fff";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_21 (.A(col[6]), .B(col[5]), 
            .Z(n289));
    defparam i1_2_lut_adj_21.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i30_2_lut (.A(col[2]), .B(col[3]), 
            .Z(n8));
    defparam i30_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut (.A(col[3]), .B(col[0]), 
            .C(col[9]), .D(col[2]), .Z(n14));
    defparam i6_4_lut.INIT = "0x8000";
    FA2 scol_19_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(col[9]), .D0(n860), 
        .CI0(n860), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1321), 
        .CI1(n1321), .CO0(n1321), .S0(col_9__N_31[9]));
    defparam scol_19_add_4_11.INIT0 = "0xc33c";
    defparam scol_19_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A (B (C)))" *) LUT4 i5_3_lut (.A(row[2]), .B(n10), 
            .C(row[9]), .Z(row_0__N_30));
    defparam i5_3_lut.INIT = "0x8080";
    FA2 add_5_add_5_9 (.A0(GND_net), .B0(row[7]), .C0(GND_net), .D0(n847), 
        .CI0(n847), .A1(GND_net), .B1(row[8]), .C1(GND_net), .D1(n1297), 
        .CI1(n1297), .CO0(n1297), .CO1(n849), .S0(row_9__N_1[7]), .S1(row_9__N_1[8]));
    defparam add_5_add_5_9.INIT0 = "0xc33c";
    defparam add_5_add_5_9.INIT1 = "0xc33c";
    FA2 scol_19_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(col[7]), .D0(n858), 
        .CI0(n858), .A1(GND_net), .B1(GND_net), .C1(col[8]), .D1(n1318), 
        .CI1(n1318), .CO0(n1318), .CO1(n860), .S0(col_9__N_31[7]), .S1(col_9__N_31[8]));
    defparam scol_19_add_4_9.INIT0 = "0xc33c";
    defparam scol_19_add_4_9.INIT1 = "0xc33c";
    FA2 scol_19_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(col[5]), .D0(n856), 
        .CI0(n856), .A1(GND_net), .B1(GND_net), .C1(col[6]), .D1(n1315), 
        .CI1(n1315), .CO0(n1315), .CO1(n858), .S0(col_9__N_31[5]), .S1(col_9__N_31[6]));
    defparam scol_19_add_4_7.INIT0 = "0xc33c";
    defparam scol_19_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))))" *) LUT4 i2_4_lut_adj_22 (.A(col[6]), 
            .B(n8), .C(col[5]), .D(col[4]), .Z(HSYNC_c_N_52));
    defparam i2_4_lut_adj_22.INIT = "0x8000";
    FA2 scol_19_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(VCC_net), .C1(col[0]), .D1(n1303), .CI1(n1303), .CO0(n1303), 
        .CO1(n852), .S1(col_9__N_31[0]));
    defparam scol_19_add_4_1.INIT0 = "0xc33c";
    defparam scol_19_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A (C+(D))+!A (B (C+(D))+!B (D)))" *) LUT4 i927_3_lut_4_lut (.A(row[1]), 
            .B(row[0]), .C(row[2]), .D(row[4]), .Z(n1084));
    defparam i927_3_lut_4_lut.INIT = "0xffe0";
    (* lut_function="(!((B+!(C))+!A))" *) LUT4 i1_2_lut_3_lut (.A(col[8]), 
            .B(col[7]), .C(col[4]), .Z(n9));
    defparam i1_2_lut_3_lut.INIT = "0x2020";
    (* lut_function="(A+!(B+(C (D))))" *) LUT4 i2_4_lut_adj_23 (.A(col[8]), 
            .B(n289), .C(n8), .D(col[4]), .Z(HSYNC_c_N_51));
    defparam i2_4_lut_adj_23.INIT = "0xabbb";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=131, LSE_RLINE=131, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_2 (.D(row_9__N_1[7]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[7]));
    defparam row_9__I_2.REGSET = "RESET";
    defparam row_9__I_2.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module mypll
//

module mypll (input GND_net, input fpga_clk_c, output vga_clk);
    
    (* is_clock=1, lineinfo="@5(7[3],7[11])" *) wire fpga_clk_c;
    (* is_clock=1, lineinfo="@5(86[8],86[15])" *) wire vga_clk;
    
    (* lineinfo="@2(35[41],48[26])" *) \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") lscc_pll_inst (GND_net, 
            fpga_clk_c, vga_clk);
    
endmodule

//
// Verilog Description of module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") 
//

module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") (input GND_net, 
            input fpga_clk_c, output vga_clk);
    
    (* is_clock=1, lineinfo="@5(7[3],7[11])" *) wire fpga_clk_c;
    (* is_clock=1, lineinfo="@5(86[8],86[15])" *) wire vga_clk;
    
    wire VCC_net, feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=89, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@2(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(fpga_clk_c), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTGLOBAL(vga_clk));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "0";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "12.000000";
    VHI i1 (.Z(VCC_net));
    
endmodule
