// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.1.0.43.3
// Netlist written on Thu Nov 30 16:44:11 2023
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/erober10/documents/github/jumbodash/mypll/rtl/mypll.v"
// file 1 "c:/users/erober10/documents/github/jumbodash/source/impl_1/rom.vhd"
// file 2 "c:/users/erober10/documents/github/jumbodash/source/impl_1/controller.vhd"
// file 3 "c:/users/erober10/documents/github/jumbodash/source/impl_1/cube_gen.vhd"
// file 4 "c:/users/erober10/documents/github/jumbodash/source/impl_1/jump.vhd"
// file 5 "c:/users/erober10/documents/github/jumbodash/source/impl_1/top.vhd"
// file 6 "c:/users/erober10/documents/github/jumbodash/source/impl_1/vga.vhd"
// file 7 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.v"
// file 8 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.vhd"
// file 9 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 10 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 11 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 12 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 13 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 14 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 15 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 16 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 17 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 18 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 19 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 20 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 21 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 22 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 23 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 24 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 25 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 26 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 27 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 28 "c:/lscc/radiant/2023.1/ip/avant/fifo/rtl/lscc_fifo.v"
// file 29 "c:/lscc/radiant/2023.1/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 30 "c:/lscc/radiant/2023.1/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 31 "c:/lscc/radiant/2023.1/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 32 "c:/lscc/radiant/2023.1/ip/avant/rom/rtl/lscc_rom.v"
// file 33 "c:/lscc/radiant/2023.1/ip/common/adder/rtl/lscc_adder.v"
// file 34 "c:/lscc/radiant/2023.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 35 "c:/lscc/radiant/2023.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 36 "c:/lscc/radiant/2023.1/ip/common/counter/rtl/lscc_cntr.v"
// file 37 "c:/lscc/radiant/2023.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 38 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 39 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 40 "c:/lscc/radiant/2023.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 41 "c:/lscc/radiant/2023.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 42 "c:/lscc/radiant/2023.1/ip/pmi/pmi_add.v"
// file 43 "c:/lscc/radiant/2023.1/ip/pmi/pmi_addsub.v"
// file 44 "c:/lscc/radiant/2023.1/ip/pmi/pmi_complex_mult.v"
// file 45 "c:/lscc/radiant/2023.1/ip/pmi/pmi_counter.v"
// file 46 "c:/lscc/radiant/2023.1/ip/pmi/pmi_dsp.v"
// file 47 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo.v"
// file 48 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo_dc.v"
// file 49 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mac.v"
// file 50 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mult.v"
// file 51 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsub.v"
// file 52 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsubsum.v"
// file 53 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp.v"
// file 54 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp_be.v"
// file 55 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq.v"
// file 56 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq_be.v"
// file 57 "c:/lscc/radiant/2023.1/ip/pmi/pmi_rom.v"
// file 58 "c:/lscc/radiant/2023.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input fpga_clk, output HSYNC, output VSYNC, output [5:0]rgb, 
            input controllerIn, output controlLatch, output controlClk);
    
    (* is_clock=1, lineinfo="@5(7[3],7[11])" *) wire fpga_clk_c;
    (* is_clock=1, lineinfo="@5(95[8],95[15])" *) wire vga_clk;
    
    wire HSYNC_c, VSYNC_c, rgb_c_5, rgb_c_3, controlLatch_c, controlClk_c;
    (* lineinfo="@5(96[8],96[11])" *) wire [9:0]row;
    (* lineinfo="@5(97[8],97[11])" *) wire [9:0]col;
    
    wire row_0__N_29, n8, VCC_net, GND_net, col_0__N_50, n822, n1513, 
        row_0__N_30, n856, n436, n10, n32;
    
    VLO i1 (.Z(GND_net));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[2]  (.I(rgb_c_3), .O(rgb[2]));
    (* lineinfo="@5(154[13],154[21])" *) cube_gen cube_gen1 ({row}, n436, 
            col[3], col[5], n856, n1513, col[2], col[1], col[4], 
            n32, col[9], col[8], col[7], rgb_c_3, n10, row_0__N_30, 
            n8, n822, col[6]);
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[3]  (.I(rgb_c_3), .O(rgb[3]));
    (* lineinfo="@5(145[9],145[12])" *) vga vga_1 (vga_clk, col_0__N_50, 
            {row}, n436, n822, n856, col[1], col[2], n1513, col[9], 
            GND_net, n32, rgb_c_5, col[3], col[4], col[8], col[7], 
            col[6], col[5], row_0__N_29, row_0__N_30, HSYNC_c, n10, 
            n8, VSYNC_c);
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[4]  (.I(rgb_c_5), .O(rgb[4]));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[5]  (.I(rgb_c_5), .O(rgb[5]));
    (* lineinfo="@5(9[3],9[8])" *) OB VSYNC_pad (.I(VSYNC_c), .O(VSYNC));
    (* lineinfo="@5(8[3],8[8])" *) OB HSYNC_pad (.I(HSYNC_c), .O(HSYNC));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[1]  (.I(GND_net), .O(rgb[1]));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[0]  (.I(GND_net), .O(rgb[0]));
    (* lineinfo="@5(12[3],12[15])" *) OB controlLatch_pad (.I(controlLatch_c), 
            .O(controlLatch));
    (* lineinfo="@5(13[3],13[13])" *) OB controlClk_pad (.I(controlClk_c), 
            .O(controlClk));
    (* lineinfo="@5(7[3],7[11])" *) IB fpga_clk_pad (.I(fpga_clk), .O(fpga_clk_c));
    (* lut_function="(A+(B))" *) LUT4 i50_2_lut (.A(col_0__N_50), .B(row_0__N_30), 
            .Z(row_0__N_29));
    defparam i50_2_lut.INIT = "0xeeee";
    (* lineinfo="@5(110[15],110[25])" *) controller controller1 (GND_net, 
            controlClk_c, controlLatch_c);
    (* lineinfo="@5(139[11],139[16])" *) mypll mypll_1 (GND_net, fpga_clk_c, 
            vga_clk);
    VHI i1456 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module cube_gen
//

module cube_gen (input [9:0]row, output n436, input \col[3] , input \col[5] , 
            input n856, input n1513, input \col[2] , input \col[1] , 
            input \col[4] , output n32, input \col[9] , input \col[8] , 
            input \col[7] , output rgb_c_3, input n10, output row_0__N_30, 
            output n8, output n822, input \col[6] );
    
    
    wire n1510, n1511, n36, n1423, rgb_c_3_N_69, n1329, rgb_c_3_N_68, 
        n1516, rgb_c_3_N_67;
    
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@3(26[54],26[69])" *) LUT4 i3_4_lut (.A(row[5]), 
            .B(row[7]), .C(row[6]), .D(row[8]), .Z(n436));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A (B+(C))+!A (B+(C+!(D)))))" *) LUT4 i1210_4_lut (.A(\col[3] ), 
            .B(\col[5] ), .C(n856), .D(n1513), .Z(n1510));
    defparam i1210_4_lut.INIT = "0x0302";
    (* lut_function="(!(A+((C (D))+!B)))" *) LUT4 i1207_4_lut (.A(\col[3] ), 
            .B(\col[5] ), .C(\col[2] ), .D(\col[1] ), .Z(n1511));
    defparam i1207_4_lut.INIT = "0x0444";
    (* lut_function="(A (B (C+!(D))+!B !(C+(D)))+!A (B (C)))" *) LUT4 i50_4_lut (.A(n1511), 
            .B(n1510), .C(\col[4] ), .D(n856), .Z(n32));
    defparam i50_4_lut.INIT = "0xc0ca";
    (* lut_function="(A (B+(C)))" *) LUT4 i1_3_lut (.A(\col[9] ), .B(\col[8] ), 
            .C(\col[7] ), .Z(n36));
    defparam i1_3_lut.INIT = "0xa8a8";
    (* lut_function="(A (B))" *) LUT4 i1122_2_lut (.A(row[2]), .B(row[1]), 
            .Z(n1423));
    defparam i1122_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1134_2_lut (.A(row[9]), .B(row[5]), 
            .Z(rgb_c_3_N_69));
    defparam i1134_2_lut.INIT = "0x4444";
    (* lut_function="((B+((D)+!C))+!A)" *) LUT4 i5_4_lut (.A(row[6]), .B(n1329), 
            .C(row[7]), .D(n36), .Z(rgb_c_3_N_68));
    defparam i5_4_lut.INIT = "0xffdf";
    (* lut_function="(A (B (C))+!A (B (C+!(D))+!B !(C+(D))))" *) LUT4 i48_4_lut (.A(row[3]), 
            .B(n1516), .C(row[4]), .D(n1423), .Z(rgb_c_3_N_67));
    defparam i48_4_lut.INIT = "0xc0c5";
    (* lut_function="(!(A+(B+(C+!(D)))))" *) LUT4 row_8__I_0 (.A(row[8]), 
            .B(rgb_c_3_N_67), .C(rgb_c_3_N_68), .D(rgb_c_3_N_69), .Z(rgb_c_3));
    defparam row_8__I_0.INIT = "0x0100";
    (* lut_function="(!(A+(B+(C+!(D)))))" *) LUT4 i1261_3_lut_4_lut (.A(row[0]), 
            .B(row[1]), .C(n10), .D(row[3]), .Z(row_0__N_30));
    defparam i1261_3_lut_4_lut.INIT = "0x0100";
    (* lut_function="(!(A ((C)+!B)+!A (B+!(C))))" *) LUT4 i19_4_lut_3_lut (.A(row[0]), 
            .B(row[1]), .C(row[2]), .Z(n8));
    defparam i19_4_lut_3_lut.INIT = "0x1818";
    (* lut_function="(A (C)+!A (B (C)))" *) LUT4 i630_2_lut_3_lut (.A(row[0]), 
            .B(row[1]), .C(row[2]), .Z(n822));
    defparam i630_2_lut_3_lut.INIT = "0xe0e0";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1199_3_lut_4_lut (.A(row[0]), 
            .B(row[1]), .C(row[2]), .D(row[3]), .Z(n1516));
    defparam i1199_3_lut_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+!(B (C (D)))))" *) LUT4 i1_2_lut_4_lut (.A(\col[8] ), 
            .B(\col[6] ), .C(\col[7] ), .D(n32), .Z(n1329));
    defparam i1_2_lut_4_lut.INIT = "0x4000";
    
endmodule

//
// Verilog Description of module vga
//

module vga (input vga_clk, output col_0__N_50, output [9:0]row, input n436, 
            input n822, output n856, output \col[1] , output \col[2] , 
            output n1513, output \col[9] , input GND_net, input n32, 
            output rgb_c_5, output \col[3] , output \col[4] , output \col[8] , 
            output \col[7] , output \col[6] , output \col[5] , input row_0__N_29, 
            input row_0__N_30, output HSYNC_c, output n10, input n8, 
            output VSYNC_c);
    
    (* is_clock=1, lineinfo="@5(95[8],95[15])" *) wire vga_clk;
    wire [9:0]col_9__N_31;
    (* lineinfo="@5(97[8],97[11])" *) wire [9:0]col;
    
    wire VSYNC_c_N_63, n1107, n1862, n1109;
    wire [9:0]row_9__N_1;
    
    wire n1859, VCC_net, n1086, n1856, rgb_c_5_N_66, rgb_c_5_N_65, 
        n1080, n1847, n1082, n15, n14, n1508, n44, HSYNC_c_N_62, 
        HSYNC_c_N_61, HSYNC_c_N_60, n1835, n1078, n1115, n1874, 
        VSYNC_c_N_64, n1084, n1853, n1113, n1871, n1844, n1111, 
        n1868, n1865, n1850;
    
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_0 (.D(col_9__N_31[9]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(\col[9] ));
    defparam col_9__I_0.REGSET = "RESET";
    defparam col_9__I_0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+(C+(D)))+!A (B))" *) LUT4 i663_4_lut (.A(row[4]), 
            .B(n436), .C(n822), .D(row[3]), .Z(n856));
    defparam i663_4_lut.INIT = "0xeeec";
    (* lut_function="(A (B (C)))" *) LUT4 i2_3_lut (.A(row[7]), .B(row[5]), 
            .C(row[6]), .Z(VSYNC_c_N_63));
    defparam i2_3_lut.INIT = "0x8080";
    (* lut_function="(A+(B+(C)))", lineinfo="@5(97[8],97[11])" *) LUT4 i1201_3_lut (.A(col[0]), 
            .B(\col[1] ), .C(\col[2] ), .Z(n1513));
    defparam i1201_3_lut.INIT = "0xfefe";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_10 (.D(col_9__N_31[8]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(\col[8] ));
    defparam col_9__I_10.REGSET = "RESET";
    defparam col_9__I_10.SRMODE = "CE_OVER_LSR";
    FA2 add_5_add_5_3 (.A0(GND_net), .B0(row[1]), .C0(GND_net), .D0(n1107), 
        .CI0(n1107), .A1(GND_net), .B1(row[2]), .C1(GND_net), .D1(n1862), 
        .CI1(n1862), .CO0(n1862), .CO1(n1109), .S0(row_9__N_1[1]), .S1(row_9__N_1[2]));
    defparam add_5_add_5_3.INIT0 = "0xc33c";
    defparam add_5_add_5_3.INIT1 = "0xc33c";
    FA2 add_5_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(row[0]), .C1(VCC_net), .D1(n1859), .CI1(n1859), .CO0(n1859), 
        .CO1(n1107), .S1(row_9__N_1[0]));
    defparam add_5_add_5_1.INIT0 = "0xc33c";
    defparam add_5_add_5_1.INIT1 = "0xc33c";
    FA2 scol_48_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(\col[9] ), .D0(n1086), 
        .CI0(n1086), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1856), 
        .CI1(n1856), .CO0(n1856), .S0(col_9__N_31[9]));
    defparam scol_48_add_4_11.INIT0 = "0xc33c";
    defparam scol_48_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(!(A ((C)+!B)+!A !(B)))" *) LUT4 i1_3_lut (.A(row[8]), 
            .B(n32), .C(VSYNC_c_N_63), .Z(rgb_c_5_N_66));
    defparam i1_3_lut.INIT = "0x4c4c";
    (* lut_function="(!((B+(C+!(D)))+!A))" *) LUT4 rgb_c_5_I_0 (.A(rgb_c_5_N_65), 
            .B(row[9]), .C(\col[9] ), .D(rgb_c_5_N_66), .Z(rgb_c_5));
    defparam rgb_c_5_I_0.INIT = "0x0200";
    FA2 scol_48_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(\col[3] ), .D0(n1080), 
        .CI0(n1080), .A1(GND_net), .B1(GND_net), .C1(\col[4] ), .D1(n1847), 
        .CI1(n1847), .CO0(n1847), .CO1(n1082), .S0(col_9__N_31[3]), 
        .S1(col_9__N_31[4]));
    defparam scol_48_add_4_5.INIT0 = "0xc33c";
    defparam scol_48_add_4_5.INIT1 = "0xc33c";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=145, LSE_RLINE=145, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_9 (.D(row_9__N_1[0]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[0]));
    defparam row_9__I_9.REGSET = "RESET";
    defparam row_9__I_9.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A+(B+!(C (D)))))" *) LUT4 i6_4_lut (.A(\col[7] ), 
            .B(\col[6] ), .C(\col[9] ), .D(\col[3] ), .Z(n15));
    defparam i6_4_lut.INIT = "0x1000";
    (* lut_function="(!((((D)+!C)+!B)+!A))" *) LUT4 i8_4_lut (.A(n15), .B(\col[4] ), 
            .C(n14), .D(\col[5] ), .Z(col_0__N_50));
    defparam i8_4_lut.INIT = "0x0080";
    (* lut_function="(A (B))" *) LUT4 i1208_2_lut (.A(\col[5] ), .B(\col[6] ), 
            .Z(n1508));
    defparam i1208_2_lut.INIT = "0x8888";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_11 (.D(col_9__N_31[7]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(\col[7] ));
    defparam col_9__I_11.REGSET = "RESET";
    defparam col_9__I_11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_12 (.D(col_9__N_31[6]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(\col[6] ));
    defparam col_9__I_12.REGSET = "RESET";
    defparam col_9__I_12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_13 (.D(col_9__N_31[5]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(\col[5] ));
    defparam col_9__I_13.REGSET = "RESET";
    defparam col_9__I_13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_14 (.D(col_9__N_31[4]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(\col[4] ));
    defparam col_9__I_14.REGSET = "RESET";
    defparam col_9__I_14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_15 (.D(col_9__N_31[3]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(\col[3] ));
    defparam col_9__I_15.REGSET = "RESET";
    defparam col_9__I_15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_16 (.D(col_9__N_31[2]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(\col[2] ));
    defparam col_9__I_16.REGSET = "RESET";
    defparam col_9__I_16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_17 (.D(col_9__N_31[1]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(\col[1] ));
    defparam col_9__I_17.REGSET = "RESET";
    defparam col_9__I_17.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=145, LSE_RLINE=145, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_0 (.D(row_9__N_1[9]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[9]));
    defparam row_9__I_0.REGSET = "RESET";
    defparam row_9__I_0.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=145, LSE_RLINE=145, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_1 (.D(row_9__N_1[8]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[8]));
    defparam row_9__I_1.REGSET = "RESET";
    defparam row_9__I_1.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=145, LSE_RLINE=145, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_2 (.D(row_9__N_1[7]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[7]));
    defparam row_9__I_2.REGSET = "RESET";
    defparam row_9__I_2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C (D)))+!A (B (C)+!B !((D)+!C)))" *) LUT4 i46_4_lut (.A(n44), 
            .B(n1508), .C(\col[3] ), .D(\col[7] ), .Z(HSYNC_c_N_62));
    defparam i46_4_lut.INIT = "0xcafa";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=145, LSE_RLINE=145, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_3 (.D(row_9__N_1[6]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[6]));
    defparam row_9__I_3.REGSET = "RESET";
    defparam row_9__I_3.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=145, LSE_RLINE=145, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_4 (.D(row_9__N_1[5]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[5]));
    defparam row_9__I_4.REGSET = "RESET";
    defparam row_9__I_4.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=145, LSE_RLINE=145, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_5 (.D(row_9__N_1[4]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[4]));
    defparam row_9__I_5.REGSET = "RESET";
    defparam row_9__I_5.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=145, LSE_RLINE=145, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_6 (.D(row_9__N_1[3]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[3]));
    defparam row_9__I_6.REGSET = "RESET";
    defparam row_9__I_6.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=145, LSE_RLINE=145, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_7 (.D(row_9__N_1[2]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[2]));
    defparam row_9__I_7.REGSET = "RESET";
    defparam row_9__I_7.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=145, LSE_RLINE=145, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_8 (.D(row_9__N_1[1]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[1]));
    defparam row_9__I_8.REGSET = "RESET";
    defparam row_9__I_8.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut (.A(\col[8] ), .B(\col[9] ), 
            .Z(HSYNC_c_N_61));
    defparam i1_2_lut.INIT = "0x4444";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i1211_3_lut (.A(\col[5] ), 
            .B(\col[7] ), .C(\col[6] ), .Z(HSYNC_c_N_60));
    defparam i1211_3_lut.INIT = "0xc8c8";
    FA2 scol_48_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(VCC_net), .C1(col[0]), .D1(n1835), .CI1(n1835), .CO0(n1835), 
        .CO1(n1078), .S1(col_9__N_31[0]));
    defparam scol_48_add_4_1.INIT0 = "0xc33c";
    defparam scol_48_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))))" *) LUT4 i5_3_lut_4_lut (.A(\col[2] ), 
            .B(\col[1] ), .C(col[0]), .D(\col[8] ), .Z(n14));
    defparam i5_3_lut_4_lut.INIT = "0x8000";
    (* lut_function="(A ((C (D))+!B)+!A ((C+!(D))+!B))" *) LUT4 HSYNC_c_I_0 (.A(HSYNC_c_N_60), 
            .B(HSYNC_c_N_61), .C(HSYNC_c_N_62), .D(\col[4] ), .Z(HSYNC_c));
    defparam HSYNC_c_I_0.INIT = "0xf377";
    (* lut_function="((B+(C+!(D)))+!A)" *) LUT4 i4_4_lut (.A(row[9]), .B(n436), 
            .C(row[4]), .D(row[2]), .Z(n10));
    defparam i4_4_lut.INIT = "0xfdff";
    FA2 add_5_add_5_11 (.A0(GND_net), .B0(row[9]), .C0(GND_net), .D0(n1115), 
        .CI0(n1115), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1874), 
        .CI1(n1874), .CO0(n1874), .S0(row_9__N_1[9]));
    defparam add_5_add_5_11.INIT0 = "0xc33c";
    defparam add_5_add_5_11.INIT1 = "0xc33c";
    (* lut_function="(!(A+(B+!(C (D)))))" *) LUT4 i3_4_lut (.A(row[4]), .B(row[9]), 
            .C(n8), .D(row[8]), .Z(VSYNC_c_N_64));
    defparam i3_4_lut.INIT = "0x1000";
    (* lut_function="(!(A (B (C))))", lineinfo="@6(38[11],38[59])" *) LUT4 VSYNC_c_I_0 (.A(VSYNC_c_N_63), 
            .B(VSYNC_c_N_64), .C(row[3]), .Z(VSYNC_c));
    defparam VSYNC_c_I_0.INIT = "0x7f7f";
    (* lut_function="(!(A+!(B (C))))" *) LUT4 i2_3_lut_adj_27 (.A(\col[8] ), 
            .B(\col[6] ), .C(\col[7] ), .Z(rgb_c_5_N_65));
    defparam i2_3_lut_adj_27.INIT = "0x4040";
    FA2 scol_48_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(\col[7] ), .D0(n1084), 
        .CI0(n1084), .A1(GND_net), .B1(GND_net), .C1(\col[8] ), .D1(n1853), 
        .CI1(n1853), .CO0(n1853), .CO1(n1086), .S0(col_9__N_31[7]), 
        .S1(col_9__N_31[8]));
    defparam scol_48_add_4_9.INIT0 = "0xc33c";
    defparam scol_48_add_4_9.INIT1 = "0xc33c";
    FA2 add_5_add_5_9 (.A0(GND_net), .B0(row[7]), .C0(GND_net), .D0(n1113), 
        .CI0(n1113), .A1(GND_net), .B1(row[8]), .C1(GND_net), .D1(n1871), 
        .CI1(n1871), .CO0(n1871), .CO1(n1115), .S0(row_9__N_1[7]), .S1(row_9__N_1[8]));
    defparam add_5_add_5_9.INIT0 = "0xc33c";
    defparam add_5_add_5_9.INIT1 = "0xc33c";
    FA2 scol_48_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(\col[1] ), .D0(n1078), 
        .CI0(n1078), .A1(GND_net), .B1(GND_net), .C1(\col[2] ), .D1(n1844), 
        .CI1(n1844), .CO0(n1844), .CO1(n1080), .S0(col_9__N_31[1]), 
        .S1(col_9__N_31[2]));
    defparam scol_48_add_4_3.INIT0 = "0xc33c";
    defparam scol_48_add_4_3.INIT1 = "0xc33c";
    FA2 add_5_add_5_7 (.A0(GND_net), .B0(row[5]), .C0(GND_net), .D0(n1111), 
        .CI0(n1111), .A1(GND_net), .B1(row[6]), .C1(GND_net), .D1(n1868), 
        .CI1(n1868), .CO0(n1868), .CO1(n1113), .S0(row_9__N_1[5]), .S1(row_9__N_1[6]));
    defparam add_5_add_5_7.INIT0 = "0xc33c";
    defparam add_5_add_5_7.INIT1 = "0xc33c";
    (* lut_function="((B (C (D))+!B !(C+(D)))+!A)" *) LUT4 i45_4_lut (.A(\col[7] ), 
            .B(\col[2] ), .C(\col[5] ), .D(\col[6] ), .Z(n44));
    defparam i45_4_lut.INIT = "0xd557";
    FA2 add_5_add_5_5 (.A0(GND_net), .B0(row[3]), .C0(GND_net), .D0(n1109), 
        .CI0(n1109), .A1(GND_net), .B1(row[4]), .C1(GND_net), .D1(n1865), 
        .CI1(n1865), .CO0(n1865), .CO1(n1111), .S0(row_9__N_1[3]), .S1(row_9__N_1[4]));
    defparam add_5_add_5_5.INIT0 = "0xc33c";
    defparam add_5_add_5_5.INIT1 = "0xc33c";
    FA2 scol_48_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(\col[5] ), .D0(n1082), 
        .CI0(n1082), .A1(GND_net), .B1(GND_net), .C1(\col[6] ), .D1(n1850), 
        .CI1(n1850), .CO0(n1850), .CO1(n1084), .S0(col_9__N_31[5]), 
        .S1(col_9__N_31[6]));
    defparam scol_48_add_4_7.INIT0 = "0xc33c";
    defparam scol_48_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_18 (.D(col_9__N_31[0]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[0]));
    defparam col_9__I_18.REGSET = "RESET";
    defparam col_9__I_18.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module controller
//

module controller (input GND_net, output controlClk_c, output controlLatch_c);
    
    (* is_clock=1, lineinfo="@2(23[8],23[11])" *) wire clk;
    wire [16:0]count_8__N_51;
    
    wire n17, VCC_net, n1099, n1892;
    (* lineinfo="@2(27[8],27[17])" *) wire [7:0]slowCount;
    
    wire n1101, n1091, n1880, n14, n13, n1093, n1097, n1889, 
        controlClk_c_N_72;
    (* lineinfo="@2(25[8],25[13])" *) wire [25:0]count;
    
    wire n1095, n1886, n10, controlLatch_c_N_71, n1103, n1898, n11, 
        n12, n15, n16, n1883, n1089, n1877, n1841, n1895, GND_net_2;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=91, LSE_LCOL=15, LSE_RCOL=25, LSE_LLINE=110, LSE_RLINE=110, lineinfo="@5(110[15],110[25])" *) HSOSC_CORE osc (.CLKHFPU(VCC_net), 
            .CLKHFEN(VCC_net), .TRIM9(GND_net_2), .TRIM8(GND_net_2), .TRIM7(GND_net_2), 
            .TRIM6(GND_net_2), .TRIM5(GND_net_2), .TRIM4(GND_net_2), .TRIM3(GND_net_2), 
            .TRIM2(GND_net_2), .TRIM1(GND_net_2), .TRIM0(GND_net_2), .CLKHF(clk));
    defparam osc.CLKHF_DIV = "0b00";
    defparam osc.FABRIC_TRIME = "DISABLE";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_8__I_19 (.D(count_8__N_51[16]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(slowCount[7]));
    defparam count_8__I_19.REGSET = "RESET";
    defparam count_8__I_19.SRMODE = "CE_OVER_LSR";
    FA2 count_47_58_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(slowCount[2]), 
        .D0(n1099), .CI0(n1099), .A1(GND_net), .B1(GND_net), .C1(slowCount[3]), 
        .D1(n1892), .CI1(n1892), .CO0(n1892), .CO1(n1101), .S0(count_8__N_51[11]), 
        .S1(count_8__N_51[12]));
    defparam count_47_58_add_4_13.INIT0 = "0xc33c";
    defparam count_47_58_add_4_13.INIT1 = "0xc33c";
    FA2 count_47_58_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n14), .D0(n1091), 
        .CI0(n1091), .A1(GND_net), .B1(GND_net), .C1(n13), .D1(n1880), 
        .CI1(n1880), .CO0(n1880), .CO1(n1093), .S0(count_8__N_51[3]), 
        .S1(count_8__N_51[4]));
    defparam count_47_58_add_4_5.INIT0 = "0xc33c";
    defparam count_47_58_add_4_5.INIT1 = "0xc33c";
    FA2 count_47_58_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(slowCount[0]), 
        .D0(n1097), .CI0(n1097), .A1(GND_net), .B1(GND_net), .C1(slowCount[1]), 
        .D1(n1889), .CI1(n1889), .CO0(n1889), .CO1(n1099), .S0(count_8__N_51[9]), 
        .S1(count_8__N_51[10]));
    defparam count_47_58_add_4_11.INIT0 = "0xc33c";
    defparam count_47_58_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(!(A+((C)+!B)))" *) LUT4 controlClk_c_I_0 (.A(controlClk_c_N_72), 
            .B(count[8]), .C(slowCount[3]), .Z(controlClk_c));
    defparam controlClk_c_I_0.INIT = "0x0404";
    FA2 count_47_58_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(n10), .D0(n1095), 
        .CI0(n1095), .A1(GND_net), .B1(GND_net), .C1(count[8]), .D1(n1886), 
        .CI1(n1886), .CO0(n1886), .CO1(n1097), .S0(count_8__N_51[7]), 
        .S1(count_8__N_51[8]));
    defparam count_47_58_add_4_9.INIT0 = "0xc33c";
    defparam count_47_58_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1118_4_lut (.A(slowCount[7]), 
            .B(slowCount[5]), .C(slowCount[6]), .D(slowCount[4]), .Z(controlClk_c_N_72));
    defparam i1118_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i1120_2_lut (.A(slowCount[1]), .B(slowCount[0]), 
            .Z(controlLatch_c_N_71));
    defparam i1120_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A+((C+(D))+!B)))" *) LUT4 controlLatch_c_I_0 (.A(controlClk_c_N_72), 
            .B(slowCount[3]), .C(slowCount[2]), .D(controlLatch_c_N_71), 
            .Z(controlLatch_c));
    defparam controlLatch_c_I_0.INIT = "0x0004";
    FA2 count_47_58_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(slowCount[6]), 
        .D0(n1103), .CI0(n1103), .A1(GND_net), .B1(GND_net), .C1(slowCount[7]), 
        .D1(n1898), .CI1(n1898), .CO0(n1898), .S0(count_8__N_51[15]), 
        .S1(count_8__N_51[16]));
    defparam count_47_58_add_4_17.INIT0 = "0xc33c";
    defparam count_47_58_add_4_17.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_8__I_20 (.D(count_8__N_51[15]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(slowCount[6]));
    defparam count_8__I_20.REGSET = "RESET";
    defparam count_8__I_20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_8__I_21 (.D(count_8__N_51[14]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(slowCount[5]));
    defparam count_8__I_21.REGSET = "RESET";
    defparam count_8__I_21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_8__I_22 (.D(count_8__N_51[13]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(slowCount[4]));
    defparam count_8__I_22.REGSET = "RESET";
    defparam count_8__I_22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_8__I_23 (.D(count_8__N_51[12]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(slowCount[3]));
    defparam count_8__I_23.REGSET = "RESET";
    defparam count_8__I_23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_8__I_24 (.D(count_8__N_51[11]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(slowCount[2]));
    defparam count_8__I_24.REGSET = "RESET";
    defparam count_8__I_24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_8__I_25 (.D(count_8__N_51[10]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(slowCount[1]));
    defparam count_8__I_25.REGSET = "RESET";
    defparam count_8__I_25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_8__I_26 (.D(count_8__N_51[9]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(slowCount[0]));
    defparam count_8__I_26.REGSET = "RESET";
    defparam count_8__I_26.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_8__I_0 (.D(count_8__N_51[8]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(count[8]));
    defparam count_8__I_0.REGSET = "RESET";
    defparam count_8__I_0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47_58__i8 (.D(count_8__N_51[7]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(n10));
    defparam count_47_58__i8.REGSET = "RESET";
    defparam count_47_58__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47_58__i7 (.D(count_8__N_51[6]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(n11));
    defparam count_47_58__i7.REGSET = "RESET";
    defparam count_47_58__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47_58__i6 (.D(count_8__N_51[5]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(n12));
    defparam count_47_58__i6.REGSET = "RESET";
    defparam count_47_58__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47_58__i5 (.D(count_8__N_51[4]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(n13));
    defparam count_47_58__i5.REGSET = "RESET";
    defparam count_47_58__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47_58__i4 (.D(count_8__N_51[3]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(n14));
    defparam count_47_58__i4.REGSET = "RESET";
    defparam count_47_58__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47_58__i3 (.D(count_8__N_51[2]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(n15));
    defparam count_47_58__i3.REGSET = "RESET";
    defparam count_47_58__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47_58__i2 (.D(count_8__N_51[1]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(n16));
    defparam count_47_58__i2.REGSET = "RESET";
    defparam count_47_58__i2.SRMODE = "CE_OVER_LSR";
    FA2 count_47_58_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(n12), .D0(n1093), 
        .CI0(n1093), .A1(GND_net), .B1(GND_net), .C1(n11), .D1(n1883), 
        .CI1(n1883), .CO0(n1883), .CO1(n1095), .S0(count_8__N_51[5]), 
        .S1(count_8__N_51[6]));
    defparam count_47_58_add_4_7.INIT0 = "0xc33c";
    defparam count_47_58_add_4_7.INIT1 = "0xc33c";
    FA2 count_47_58_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n16), .D0(n1089), 
        .CI0(n1089), .A1(GND_net), .B1(GND_net), .C1(n15), .D1(n1877), 
        .CI1(n1877), .CO0(n1877), .CO1(n1091), .S0(count_8__N_51[1]), 
        .S1(count_8__N_51[2]));
    defparam count_47_58_add_4_3.INIT0 = "0xc33c";
    defparam count_47_58_add_4_3.INIT1 = "0xc33c";
    FA2 count_47_58_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(n17), .D1(n1841), .CI1(n1841), 
        .CO0(n1841), .CO1(n1089), .S1(count_8__N_51[0]));
    defparam count_47_58_add_4_1.INIT0 = "0xc33c";
    defparam count_47_58_add_4_1.INIT1 = "0xc33c";
    FA2 count_47_58_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(slowCount[4]), 
        .D0(n1101), .CI0(n1101), .A1(GND_net), .B1(GND_net), .C1(slowCount[5]), 
        .D1(n1895), .CI1(n1895), .CO0(n1895), .CO1(n1103), .S0(count_8__N_51[13]), 
        .S1(count_8__N_51[14]));
    defparam count_47_58_add_4_15.INIT0 = "0xc33c";
    defparam count_47_58_add_4_15.INIT1 = "0xc33c";
    VLO i2 (.Z(GND_net_2));
    (* syn_use_carry_chain=1 *) FD1P3XZ count_47_58__i1 (.D(count_8__N_51[0]), 
            .SP(VCC_net), .CK(clk), .SR(GND_net_2), .Q(n17));
    defparam count_47_58__i1.REGSET = "RESET";
    defparam count_47_58__i1.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module mypll
//

module mypll (input GND_net, input fpga_clk_c, output vga_clk);
    
    (* is_clock=1, lineinfo="@5(7[3],7[11])" *) wire fpga_clk_c;
    (* is_clock=1, lineinfo="@5(95[8],95[15])" *) wire vga_clk;
    
    (* lineinfo="@0(35[41],48[26])" *) \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") lscc_pll_inst (GND_net, 
            fpga_clk_c, vga_clk);
    
endmodule

//
// Verilog Description of module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") 
//

module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") (input GND_net, 
            input fpga_clk_c, output vga_clk);
    
    (* is_clock=1, lineinfo="@5(7[3],7[11])" *) wire fpga_clk_c;
    (* is_clock=1, lineinfo="@5(95[8],95[15])" *) wire vga_clk;
    
    wire VCC_net, feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=89, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@0(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(fpga_clk_c), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTGLOBAL(vga_clk));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "0";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "12.000000";
    VHI i1 (.Z(VCC_net));
    
endmodule
