// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.1.0.43.3
// Netlist written on Wed Nov 29 15:43:11 2023
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.v"
// file 1 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ice40up.vhd"
// file 2 "z:/radiant/jumbodash/mypll/rtl/mypll.v"
// file 3 "z:/radiant/jumbodash/source/impl_1/rom.vhd"
// file 4 "z:/radiant/jumbodash/source/impl_1/cube_gen.vhd"
// file 5 "z:/radiant/jumbodash/source/impl_1/top.vhd"
// file 6 "z:/radiant/jumbodash/source/impl_1/vga.vhd"
// file 7 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 8 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 9 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 10 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 11 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 12 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 13 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 14 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 15 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 16 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 17 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 18 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 19 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 20 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 21 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 22 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 23 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 24 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 25 "c:/lscc/radiant/2023.1/cae_library/simulation/verilog/ice40up/legacy.v"
// file 26 "c:/lscc/radiant/2023.1/ip/avant/fifo/rtl/lscc_fifo.v"
// file 27 "c:/lscc/radiant/2023.1/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 28 "c:/lscc/radiant/2023.1/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 29 "c:/lscc/radiant/2023.1/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 30 "c:/lscc/radiant/2023.1/ip/avant/rom/rtl/lscc_rom.v"
// file 31 "c:/lscc/radiant/2023.1/ip/common/adder/rtl/lscc_adder.v"
// file 32 "c:/lscc/radiant/2023.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 33 "c:/lscc/radiant/2023.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 34 "c:/lscc/radiant/2023.1/ip/common/counter/rtl/lscc_cntr.v"
// file 35 "c:/lscc/radiant/2023.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 36 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 37 "c:/lscc/radiant/2023.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 38 "c:/lscc/radiant/2023.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 39 "c:/lscc/radiant/2023.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 40 "c:/lscc/radiant/2023.1/ip/pmi/pmi_add.v"
// file 41 "c:/lscc/radiant/2023.1/ip/pmi/pmi_addsub.v"
// file 42 "c:/lscc/radiant/2023.1/ip/pmi/pmi_complex_mult.v"
// file 43 "c:/lscc/radiant/2023.1/ip/pmi/pmi_counter.v"
// file 44 "c:/lscc/radiant/2023.1/ip/pmi/pmi_dsp.v"
// file 45 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo.v"
// file 46 "c:/lscc/radiant/2023.1/ip/pmi/pmi_fifo_dc.v"
// file 47 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mac.v"
// file 48 "c:/lscc/radiant/2023.1/ip/pmi/pmi_mult.v"
// file 49 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsub.v"
// file 50 "c:/lscc/radiant/2023.1/ip/pmi/pmi_multaddsubsum.v"
// file 51 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp.v"
// file 52 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dp_be.v"
// file 53 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq.v"
// file 54 "c:/lscc/radiant/2023.1/ip/pmi/pmi_ram_dq_be.v"
// file 55 "c:/lscc/radiant/2023.1/ip/pmi/pmi_rom.v"
// file 56 "c:/lscc/radiant/2023.1/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input fpga_clk, output HSYNC, output VSYNC, output [5:0]rgb);
    
    (* is_clock=1, lineinfo="@5(7[3],7[11])" *) wire fpga_clk_c;
    (* is_clock=1, lineinfo="@5(74[8],74[15])" *) wire vga_clk;
    
    wire HSYNC_c, VSYNC_c, rgb_c_5, GND_net, col_0__N_50, row_0__N_30, 
        row_0__N_29, VCC_net;
    
    VLO i1 (.Z(GND_net));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[4]  (.I(rgb_c_5), .O(rgb[4]));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[3]  (.I(GND_net), .O(rgb[3]));
    (* lut_function="(A+(B))" *) LUT4 i21_2_lut (.A(col_0__N_50), .B(row_0__N_30), 
            .Z(row_0__N_29));
    defparam i21_2_lut.INIT = "0xeeee";
    (* lineinfo="@5(7[3],7[11])" *) IB fpga_clk_pad (.I(fpga_clk), .O(fpga_clk_c));
    (* lineinfo="@5(107[9],107[12])" *) vga vga_1 (row_0__N_29, vga_clk, 
            row_0__N_30, col_0__N_50, GND_net, rgb_c_5, HSYNC_c, VSYNC_c);
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[5]  (.I(rgb_c_5), .O(rgb[5]));
    (* lineinfo="@5(9[3],9[8])" *) OB VSYNC_pad (.I(VSYNC_c), .O(VSYNC));
    (* lineinfo="@5(8[3],8[8])" *) OB HSYNC_pad (.I(HSYNC_c), .O(HSYNC));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[0]  (.I(GND_net), .O(rgb[0]));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[1]  (.I(GND_net), .O(rgb[1]));
    (* lineinfo="@5(10[3],10[6])" *) OB \rgb_pad[2]  (.I(GND_net), .O(rgb[2]));
    (* lineinfo="@5(101[11],101[16])" *) mypll mypll_1 (GND_net, fpga_clk_c, 
            vga_clk);
    VHI i1037 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module vga
//

module vga (input row_0__N_29, input vga_clk, output row_0__N_30, output col_0__N_50, 
            input GND_net, output rgb_c_5, output HSYNC_c, output VSYNC_c);
    
    (* is_clock=1, lineinfo="@5(74[8],74[15])" *) wire vga_clk;
    (* lineinfo="@5(75[8],75[11])" *) wire [9:0]row;
    
    wire n1041;
    wire [9:0]row_9__N_1;
    
    wire n987, n8, n7;
    (* lineinfo="@5(76[8],76[11])" *) wire [9:0]col;
    
    wire n1038;
    wire [9:0]col_9__N_31;
    
    wire n983, n1036, n973, n6, n87, n49, n778, n1233, n780, 
        rgb_c_5_N_55, rgb_c_5_N_54, n922, rgb_c_5_N_56, n782, n1239, 
        n784, n971, n1236, n8_adj_57, HSYNC_c_N_51, n789, n1254, 
        n791, n797, n1266, n1248, VCC_net, n795, n1263, n786, 
        n1251, n67, VSYNC_c_N_52, n793, n1260, n1230, n1242, n1257;
    
    (* lut_function="(A (C)+!A (B (C)))" *) LUT4 i882_2_lut_3_lut (.A(row[0]), 
            .B(row[1]), .C(row[2]), .Z(n1041));
    defparam i882_2_lut_3_lut.INIT = "0xe0e0";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=107, LSE_RLINE=107, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_3 (.D(row_9__N_1[6]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[6]));
    defparam row_9__I_3.REGSET = "RESET";
    defparam row_9__I_3.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B))" *) LUT4 i839_2_lut (.A(row[0]), .B(row[6]), 
            .Z(n987));
    defparam i839_2_lut.INIT = "0xeeee";
    (* lut_function="(!((B+(C+(D)))+!A))" *) LUT4 i2_4_lut (.A(row[2]), .B(row[8]), 
            .C(row[7]), .D(n987), .Z(n8));
    defparam i2_4_lut.INIT = "0x0002";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_18 (.D(col_9__N_31[0]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[0]));
    defparam col_9__I_18.REGSET = "RESET";
    defparam col_9__I_18.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A+((C)+!B)))" *) LUT4 i1_3_lut (.A(row[4]), .B(row[3]), 
            .C(row[1]), .Z(n7));
    defparam i1_3_lut.INIT = "0x0404";
    (* lut_function="(!(A+!(B (C (D)))))" *) LUT4 i5_4_lut (.A(row[5]), .B(n7), 
            .C(row[9]), .D(n8), .Z(row_0__N_30));
    defparam i5_4_lut.INIT = "0x4000";
    (* lut_function="(A (B)+!A (B (C)))" *) LUT4 i887_3_lut (.A(col[0]), .B(col[2]), 
            .C(col[1]), .Z(n1038));
    defparam i887_3_lut.INIT = "0xc8c8";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=107, LSE_RLINE=107, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_4 (.D(row_9__N_1[5]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[5]));
    defparam row_9__I_4.REGSET = "RESET";
    defparam row_9__I_4.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B (C)+!B (C (D))))" *) LUT4 i835_4_lut (.A(col[5]), 
            .B(col[2]), .C(col[3]), .D(col[1]), .Z(n983));
    defparam i835_4_lut.INIT = "0xfaea";
    (* lut_function="(A (B (D))+!A (B (C (D))))" *) LUT4 i881_4_lut (.A(n1038), 
            .B(col[4]), .C(col[3]), .D(col[5]), .Z(n1036));
    defparam i881_4_lut.INIT = "0xc800";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=107, LSE_RLINE=107, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_5 (.D(row_9__N_1[4]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[4]));
    defparam row_9__I_5.REGSET = "RESET";
    defparam row_9__I_5.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=107, LSE_RLINE=107, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_0 (.D(row_9__N_1[9]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[9]));
    defparam row_9__I_0.REGSET = "RESET";
    defparam row_9__I_0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B))" *) LUT4 i825_2_lut (.A(row[2]), .B(row[1]), 
            .Z(n973));
    defparam i825_2_lut.INIT = "0xeeee";
    (* lut_function="((B+(C))+!A)" *) LUT4 i1_3_lut_adj_19 (.A(col[0]), .B(col[6]), 
            .C(col[5]), .Z(n6));
    defparam i1_3_lut_adj_19.INIT = "0xfdfd";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=107, LSE_RLINE=107, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_6 (.D(row_9__N_1[3]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[3]));
    defparam row_9__I_6.REGSET = "RESET";
    defparam row_9__I_6.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=107, LSE_RLINE=107, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_7 (.D(row_9__N_1[2]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[2]));
    defparam row_9__I_7.REGSET = "RESET";
    defparam row_9__I_7.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=107, LSE_RLINE=107, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_8 (.D(row_9__N_1[1]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[1]));
    defparam row_9__I_8.REGSET = "RESET";
    defparam row_9__I_8.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C)+!B (C (D)))+!A (B+((D)+!C))))" *) LUT4 i92_4_lut (.A(n1036), 
            .B(col[4]), .C(col[6]), .D(n983), .Z(n87));
    defparam i92_4_lut.INIT = "0x0a3a";
    (* lut_function="(!(A (B (C (D)))+!A (B (C (D)+!C !(D))+!B !(C+(D)))))" *) LUT4 i91_4_lut (.A(n1041), 
            .B(n973), .C(row[3]), .D(row[4]), .Z(n49));
    defparam i91_4_lut.INIT = "0x3ffa";
    FA2 add_5_add_5_3 (.A0(GND_net), .B0(row[1]), .C0(GND_net), .D0(n778), 
        .CI0(n778), .A1(GND_net), .B1(row[2]), .C1(GND_net), .D1(n1233), 
        .CI1(n1233), .CO0(n1233), .CO1(n780), .S0(row_9__N_1[1]), .S1(row_9__N_1[2]));
    defparam add_5_add_5_3.INIT0 = "0xc33c";
    defparam add_5_add_5_3.INIT1 = "0xc33c";
    (* lut_function="(!(A+(B+(C))))" *) LUT4 i4_3_lut (.A(col[7]), .B(row[8]), 
            .C(row[9]), .Z(rgb_c_5_N_55));
    defparam i4_3_lut.INIT = "0x0101";
    (* lut_function="(A (B (C (D))))" *) LUT4 i5_4_lut_adj_20 (.A(n49), .B(col[8]), 
            .C(n87), .D(row[5]), .Z(rgb_c_5_N_54));
    defparam i5_4_lut_adj_20.INIT = "0x8000";
    (* lut_function="((((D)+!C)+!B)+!A)" *) LUT4 i4_4_lut (.A(col[1]), .B(col[2]), 
            .C(col[3]), .D(n6), .Z(n922));
    defparam i4_4_lut.INIT = "0xff7f";
    (* lut_function="(!((B+!(C (D)))+!A))" *) LUT4 rgb_c_5_I_0 (.A(rgb_c_5_N_54), 
            .B(col[9]), .C(rgb_c_5_N_55), .D(rgb_c_5_N_56), .Z(rgb_c_5));
    defparam rgb_c_5_I_0.INIT = "0x2000";
    FA2 add_5_add_5_7 (.A0(GND_net), .B0(row[5]), .C0(GND_net), .D0(n782), 
        .CI0(n782), .A1(GND_net), .B1(row[6]), .C1(GND_net), .D1(n1239), 
        .CI1(n1239), .CO0(n1239), .CO1(n784), .S0(row_9__N_1[5]), .S1(row_9__N_1[6]));
    defparam add_5_add_5_7.INIT0 = "0xc33c";
    defparam add_5_add_5_7.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i823_2_lut (.A(col[4]), .B(col[9]), 
            .Z(n971));
    defparam i823_2_lut.INIT = "0x8888";
    (* lut_function="(!((B+(C+!(D)))+!A))", lineinfo="@6(22[8],22[18])" *) LUT4 i916_4_lut (.A(n971), 
            .B(n922), .C(col[7]), .D(col[8]), .Z(col_0__N_50));
    defparam i916_4_lut.INIT = "0x0200";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=107, LSE_RLINE=107, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_9 (.D(row_9__N_1[0]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[0]));
    defparam row_9__I_9.REGSET = "RESET";
    defparam row_9__I_9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_0_2 (.D(col_9__N_31[9]), 
            .SP(VCC_net), .CK(vga_clk), .SR(col_0__N_50), .Q(col[9]));
    defparam col_9__I_0_2.REGSET = "RESET";
    defparam col_9__I_0_2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_10 (.D(col_9__N_31[8]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[8]));
    defparam col_9__I_10.REGSET = "RESET";
    defparam col_9__I_10.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=107, LSE_RLINE=107, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_1 (.D(row_9__N_1[8]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[8]));
    defparam row_9__I_1.REGSET = "RESET";
    defparam row_9__I_1.SRMODE = "CE_OVER_LSR";
    FA2 add_5_add_5_5 (.A0(GND_net), .B0(row[3]), .C0(GND_net), .D0(n780), 
        .CI0(n780), .A1(GND_net), .B1(row[4]), .C1(GND_net), .D1(n1236), 
        .CI1(n1236), .CO0(n1236), .CO1(n782), .S0(row_9__N_1[3]), .S1(row_9__N_1[4]));
    defparam add_5_add_5_5.INIT0 = "0xc33c";
    defparam add_5_add_5_5.INIT1 = "0xc33c";
    (* lut_function="(A+(B))" *) LUT4 i30_2_lut (.A(col[2]), .B(col[3]), 
            .Z(n8_adj_57));
    defparam i30_2_lut.INIT = "0xeeee";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_11 (.D(col_9__N_31[7]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[7]));
    defparam col_9__I_11.REGSET = "RESET";
    defparam col_9__I_11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_12 (.D(col_9__N_31[6]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[6]));
    defparam col_9__I_12.REGSET = "RESET";
    defparam col_9__I_12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_13 (.D(col_9__N_31[5]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[5]));
    defparam col_9__I_13.REGSET = "RESET";
    defparam col_9__I_13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_14 (.D(col_9__N_31[4]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[4]));
    defparam col_9__I_14.REGSET = "RESET";
    defparam col_9__I_14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_15 (.D(col_9__N_31[3]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[3]));
    defparam col_9__I_15.REGSET = "RESET";
    defparam col_9__I_15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_16 (.D(col_9__N_31[2]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[2]));
    defparam col_9__I_16.REGSET = "RESET";
    defparam col_9__I_16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ col_9__I_17 (.D(col_9__N_31[1]), .SP(VCC_net), 
            .CK(vga_clk), .SR(col_0__N_50), .Q(col[1]));
    defparam col_9__I_17.REGSET = "RESET";
    defparam col_9__I_17.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C (D))+!B !(C+(D)))+!A !(B+(C))))" *) LUT4 i30_4_lut (.A(n8_adj_57), 
            .B(col[6]), .C(col[5]), .D(col[4]), .Z(HSYNC_c_N_51));
    defparam i30_4_lut.INIT = "0x7efc";
    (* lut_function="(((C+!(D))+!B)+!A)" *) LUT4 col_9__I_0 (.A(col[9]), .B(col[7]), 
            .C(col[8]), .D(HSYNC_c_N_51), .Z(HSYNC_c));
    defparam col_9__I_0.INIT = "0xf7ff";
    FA2 scol_19_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(col[1]), .D0(n789), 
        .CI0(n789), .A1(GND_net), .B1(GND_net), .C1(col[2]), .D1(n1254), 
        .CI1(n1254), .CO0(n1254), .CO1(n791), .S0(col_9__N_31[1]), .S1(col_9__N_31[2]));
    defparam scol_19_add_4_3.INIT0 = "0xc33c";
    defparam scol_19_add_4_3.INIT1 = "0xc33c";
    FA2 scol_19_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(col[9]), .D0(n797), 
        .CI0(n797), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1266), 
        .CI1(n1266), .CO0(n1266), .S0(col_9__N_31[9]));
    defparam scol_19_add_4_11.INIT0 = "0xc33c";
    defparam scol_19_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i3_2_lut (.A(row[7]), .B(row[6]), 
            .Z(rgb_c_5_N_56));
    defparam i3_2_lut.INIT = "0x8888";
    FA2 scol_19_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(VCC_net), .C1(col[0]), .D1(n1248), .CI1(n1248), .CO0(n1248), 
        .CO1(n789), .S1(col_9__N_31[0]));
    defparam scol_19_add_4_1.INIT0 = "0xc33c";
    defparam scol_19_add_4_1.INIT1 = "0xc33c";
    FA2 scol_19_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(col[7]), .D0(n795), 
        .CI0(n795), .A1(GND_net), .B1(GND_net), .C1(col[8]), .D1(n1263), 
        .CI1(n1263), .CO0(n1263), .CO1(n797), .S0(col_9__N_31[7]), .S1(col_9__N_31[8]));
    defparam scol_19_add_4_9.INIT0 = "0xc33c";
    defparam scol_19_add_4_9.INIT1 = "0xc33c";
    FA2 add_5_add_5_11 (.A0(GND_net), .B0(row[9]), .C0(GND_net), .D0(n786), 
        .CI0(n786), .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1251), 
        .CI1(n1251), .CO0(n1251), .S0(row_9__N_1[9]));
    defparam add_5_add_5_11.INIT0 = "0xc33c";
    defparam add_5_add_5_11.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C))+!A ((C)+!B))", lineinfo="@5(75[8],75[11])" *) LUT4 i70_3_lut (.A(row[1]), 
            .B(row[2]), .C(row[0]), .Z(n67));
    defparam i70_3_lut.INIT = "0xdbdb";
    (* lut_function="((B+((D)+!C))+!A)" *) LUT4 i5_4_lut_adj_21 (.A(row[8]), 
            .B(n67), .C(row[5]), .D(row[4]), .Z(VSYNC_c_N_52));
    defparam i5_4_lut_adj_21.INIT = "0xffdf";
    (* lut_function="((B+(C+!(D)))+!A)" *) LUT4 row_3__I_0 (.A(row[3]), .B(VSYNC_c_N_52), 
            .C(row[9]), .D(rgb_c_5_N_56), .Z(VSYNC_c));
    defparam row_3__I_0.INIT = "0xfdff";
    FA2 scol_19_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(col[5]), .D0(n793), 
        .CI0(n793), .A1(GND_net), .B1(GND_net), .C1(col[6]), .D1(n1260), 
        .CI1(n1260), .CO0(n1260), .CO1(n795), .S0(col_9__N_31[5]), .S1(col_9__N_31[6]));
    defparam scol_19_add_4_7.INIT0 = "0xc33c";
    defparam scol_19_add_4_7.INIT1 = "0xc33c";
    FA2 add_5_add_5_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(row[0]), .C1(VCC_net), .D1(n1230), .CI1(n1230), .CO0(n1230), 
        .CO1(n778), .S1(row_9__N_1[0]));
    defparam add_5_add_5_1.INIT0 = "0xc33c";
    defparam add_5_add_5_1.INIT1 = "0xc33c";
    FA2 add_5_add_5_9 (.A0(GND_net), .B0(row[7]), .C0(GND_net), .D0(n784), 
        .CI0(n784), .A1(GND_net), .B1(row[8]), .C1(GND_net), .D1(n1242), 
        .CI1(n1242), .CO0(n1242), .CO1(n786), .S0(row_9__N_1[7]), .S1(row_9__N_1[8]));
    defparam add_5_add_5_9.INIT0 = "0xc33c";
    defparam add_5_add_5_9.INIT1 = "0xc33c";
    FA2 scol_19_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(col[3]), .D0(n791), 
        .CI0(n791), .A1(GND_net), .B1(GND_net), .C1(col[4]), .D1(n1257), 
        .CI1(n1257), .CO0(n1257), .CO1(n793), .S0(col_9__N_31[3]), .S1(col_9__N_31[4]));
    defparam scol_19_add_4_5.INIT0 = "0xc33c";
    defparam scol_19_add_4_5.INIT1 = "0xc33c";
    (* lse_init_val=0, LSE_LINE_FILE_ID=91, LSE_LCOL=9, LSE_RCOL=12, LSE_LLINE=107, LSE_RLINE=107, lineinfo="@6(21[3],32[10])" *) FD1P3XZ row_9__I_2 (.D(row_9__N_1[7]), 
            .SP(row_0__N_29), .CK(vga_clk), .SR(row_0__N_30), .Q(row[7]));
    defparam row_9__I_2.REGSET = "RESET";
    defparam row_9__I_2.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module mypll
//

module mypll (input GND_net, input fpga_clk_c, output vga_clk);
    
    (* is_clock=1, lineinfo="@5(7[3],7[11])" *) wire fpga_clk_c;
    (* is_clock=1, lineinfo="@5(74[8],74[15])" *) wire vga_clk;
    
    (* lineinfo="@2(35[41],48[26])" *) \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") lscc_pll_inst (GND_net, 
            fpga_clk_c, vga_clk);
    
endmodule

//
// Verilog Description of module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") 
//

module \mypll_ipgen_lscc_pll(DIVR="0",DIVF="66",DIVQ="5",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") (input GND_net, 
            input fpga_clk_c, output vga_clk);
    
    (* is_clock=1, lineinfo="@5(7[3],7[11])" *) wire fpga_clk_c;
    (* is_clock=1, lineinfo="@5(74[8],74[15])" *) wire vga_clk;
    
    wire VCC_net, feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=89, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@2(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(fpga_clk_c), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTGLOBAL(vga_clk));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "0";
    defparam u_PLL_B.DIVF = "66";
    defparam u_PLL_B.DIVQ = "5";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "12.000000";
    VHI i1 (.Z(VCC_net));
    
endmodule
